body {
    font-family: "Lato", sans-serif;

}

body.map{
    background-image: url(https://hgic.clemson.edu/wp-content/uploads/2018/09/Lobelia-cardinalis-2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
body.find{
    background-image: url(https://www.directnativeplants.com/wp-content/uploads/photos/96626225.jpg);
    background-size: cover;
    background-attachment: fixed;
}
body.bed{
    background-image: url(https://www.gardeningknowhow.com/wp-content/uploads/2016/02/violet-type-768x514.jpg);
    background-size: cover;
    background-attachment: fixed;
}



#main-cont {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 25px;

}

.btn-default {
    background-color: rgba(3, 34, 9, 0.8);
    color: white;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

    font-size: 110%;
}
table{
    margin: 0 auto;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.fill {
    min-height: 100%;
    height: 100%;
}

input {
   margin: auto;
   width: 100%;
   padding: 5px;
   border-radius: 20px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: 64px;
  }
}
